<html>
<body>

<form action="loginForm" method="GET">
    <div>
        <label for="username">Username:</label> <input type="text" id="username" name="username">
    </div>
    <div>
        <input type="submit" name="submit">
    </div>
    <input type="hidden" name="service" value="{{service}}">
</form>

</body>
</html>