<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mock CAS Server</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="margin">
    <div class="login-form">
        You are logged out.
    </div>
</div>

</body>
</html>
